.hero-image {
    margin: 0;
    padding: 0;
    background-position: center;
    border: none;
}


.hero-text {
    padding: 15px !important;
}

.card {
    border: none;
    padding-bottom: 20px;
}

.practices-list {
    padding-top: 40px;
    padding-bottom: 60px;

    img {
        width: 150px;
        color: black;
        margin-left: auto;
        margin-right: auto;
    }
}

.slick-slider {
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.slick-list.draggable {
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.slick-prev:before {
    color: var(--brand-blue) !important;
}

.slick-next:before {
    color: var(--brand-blue) !important;
}

.slick-dots li button:before {
    font-size: 12pt !important;
    color: var(--brand-blue) !important;
}

#what-to-expect {
    padding: 15px;
    font-size: 30pt;
    font-weight: 900;
}

.disclaimers-accordion {
    background-color: var(--brand-gray) !important;
}

.accordion-item {
    border: none !important;
    background-color: none !important;
    color: var(--brand-white) !important;
}

.accordion-header {
    border: none !important;
    background-color: var(--brand-gray) !important;
    color: var(--brand-white) !important;
}

.disclaimer-header {
    background-color: var(--brand-gray) !important;
}

.disclaimer {
    background-color: var(--brand-gray) !important;
    padding: 20px 0 10px 0;
}

.accordion-button {
    background-color: var(--brand-gray) !important;
    color: var(--brand-white) !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #212529;
}

.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}