.skip-link {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
}

.skip-link:focus {
    left: 0;
    top: 0;
    padding: 3px;
    background: #ffc;
    border: 1px solid #990000;
}

.logo-with-name {
    white-space: nowrap;
}

.default-navbar {
    background-color: var(--brand-white);
    padding-left: 10px;
    padding-right: 10px;
    img {
        width: 75px;
        padding-top: 5px;
        display: inline-block;
    }

    span {
        display: inline-block;
    }

    .cathy-cowin {
        line-height: 21pt;
        font-size: 20pt;
    }

    .law-offices-of {
        font-size: 10pt;
        line-height: 10pt;
    }

    .nav-links a {
        text-align: right;
        text-decoration: underline;
    }
}

.navbar-toggle {
    border: transparent !important;
    box-shadow: none !important;

    :focus {
        border: 0 !important;
        box-shadow: non !important;
    }
}

.default-footer {
    background-color: var(--brand-blue-transparent);
    color: white;
    padding: 10px;

    img {
        width: 75px;
        padding-top: 5px;
        display: inline-block;
    }

    span {
        display: inline-block;
    }

    .cathy-cowin {
        line-height: 21pt;
        font-size: 20pt;
    }

    .law-offices-of {
        font-size: 10pt;
        line-height: 10pt;
    }

    .footer-info {
        font-size: 12pt;
        padding-top: 10px;
        line-height: 14pt;
    }

    p {
        font-size: 10pt;
        padding-top: 5px;
    }
    
    a {
        color: white;
        text-decoration: underline;
    }

    a:hover {
        color: var(--brand-white);
    }

    .flex-column {
        text-align: right;
    }
}